name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - "27.1"
          - "27.2"
          - "28.2"
          - "29.4"
          - "snapshot"

    steps:
      - uses: actions/checkout@v6

      - uses: purcell/setup-emacs@masterv7
        with:
          version: ${{ matrix.emacs_version }}

      - name: Run tests
        run: |
          emacs -batch -L . -l test/lichess-test.el -f ert-run-tests-batch-and-exit

      - name: Byte-compile
        run: |
          emacs -batch -L . -f batch-byte-compile *.el
